@import url('https://fonts.googleapis.com/css2?family=Adamina&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

@import "tailwindcss";
@import "keen-slider/keen-slider.min.css";




@theme{
  --font-lato :"Lato", sans-serif;
  --color-pink:#FB2E86;
  --font-josef:"Josefin Sans", sans-serif;
  --font-aby: "Abyssinica SIL", serif;
  --font-bell:  "Bellota", system-ui;
  --font-adaminaaa: "Adamina", serif;
  --color-primany:#151875;
  --color-blumain:#151875;
  --color-subcolore:#8a8fb9ea;
}

